<h1>This is Results page</h1>

<ul>
    <% data["Search"].forEach(function(movie){ %>
        <li>
            <b><%= movie["Title"]%></b> - <%= movie["Year"]%>
        </li>
    <% }); %>
</ul>
<a href="/search" style="text-decoration:none">Search Again?</a>
